<button mat-raised-button
        color="accent"
        (click)="refresh()">Accent
</button>
<button mat-raised-button
        color="primary"
        (click)="add()">Add
</button>

<mat-selection-list
    [multiple]="false">
    <mat-list-option *ngFor="let todo of todos$ | async"
                     [value]="todo.id">
        <div class="todo--item">
            <mat-checkbox
                class="mr-2"
                [checked]="todo.isDone"
                (change)="checkDone($event, todo.id)"
            ></mat-checkbox>

            {{todo.name}}

            <mat-icon aria-hidden="false"
                      aria-label="star"
                      class="todo--star"
                      [class.done]="todo.isDone">{{ todo.isDone ? 'star' : 'star_border' }}
            </mat-icon>
        </div>
    </mat-list-option>
</mat-selection-list>
