<!-- Toolbar -->
<app-toolbar></app-toolbar>

<div class="content" role="main">
  <!-- Highlight Card -->
    <app-highlight-card [title]="title"></app-highlight-card>
</div>

<div style="display: flex; box-shadow: #f0f3f6;">
    <div style="width: 50%; padding-left: 2rem; padding-right: 2rem">
        <app-todo-list></app-todo-list>
    </div>
    <div style="width: 50%; padding-left: 2rem; padding-right: 2rem">
        <div>
            <app-todo-favourite-list></app-todo-favourite-list>
        </div>
        <div>
            <app-todo-done-list></app-todo-done-list>
        </div>
    </div>
</div>
