<form [formGroup]="rf"
      (ngSubmit)="submit()"
    style="font-size: 20px">
    <mat-form-field class="w-100 mb-4">
        <mat-label>Name</mat-label>
        <input matInput
               placeholder="What is your todo plane"
               cdkFocusInitial
               formControlName="name">
        <mat-error>
            Name is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-checkbox class="example-margin mr-5"
                  formControlName="isDone">Done
    </mat-checkbox>
    <mat-checkbox class="example-margin"
                  formControlName="isFavourite">Favourite
    </mat-checkbox>
</form>

<div mat-dialog-actions>
    <button mat-button
            (click)="cancel()">Cancel
    </button>
    <button mat-raised-button
            color="primary"
            (click)="submit()">Save
    </button>
</div>
