<table>
    <caption>Favourite List</caption>
    <thead>
    <tr>
        <th style="width: 2rem; text-align: center"></th>
        <th>id</th>
        <th>name</th>
        <th>action</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="(todos$ | async)?.length; else emptyBlock">
        <tr *ngFor="let todo of todos$ | async">
            <td style="width: 2rem; text-align: center">
                <input type="checkbox" [checked]="todo.isDone">
            </td>
            <td>
                {{ todo.id }}
            </td>
            <td>
                {{ todo.name }}
            </td>
            <td>
                {{ todo.isFavourite }}
            </td>
        </tr>
    </ng-container>
    <ng-template #emptyBlock>
        <tr>
            <td colspan="4" style="text-align: center"> empty</td>
        </tr>
    </ng-template>
    </tbody>
</table>
